<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingMapper">  
  <!-- 특정 모임 데이터 조회 -->
  <select id="getMeeting">
    SELECT
      id,
      hostId,
      title,
      content,
      startAt,
      endAt,
      deadline,
      updatedAt,
      maxParticipant,
      place,
      updatedAt,
      (SELECT 
        count(*)
      FROM
        participatesMeeting
      WHERE meetingId = #{id}) as currentParticipant   
    FROM
      meeting
    WHERE
      id = #{id} and status = 1
  </select>

  <!-- 특정 호스트의 등록 모임 조회 -->
  <select id="listHostMeetings">
    SELECT
      id, title, deadline
    FROM
      meeting
    WHERE
      hostId = #{hostId} and status = 1
    LIMIT ${offset}, ${pageSize}
  </select>

  <!-- 전체 모임 조회 -->
  <select id="listMeetings" parameterType="int">
    select
      id, title, deadline
    FROM
      meeting  
    WHERE
      status = 1
    LIMIT ${offset}, ${pageSize}
  </select>

  <!-- 모임 등록 -->
  <insert id="createMeeting">
    insert into meeting(
      hostId,
      title,
      content,
      startAt,
      endAt,
      deadline,
      maxParticipant,
      place
    )
    values(
      #{hostId},
      #{title},
      #{content},
      STR_TO_DATE(#{startAt}, '%Y-%m-%d %H:%i:%s'),
      STR_TO_DATE(#{endAt}, '%Y-%m-%d %H:%i:%s'),
      STR_TO_DATE(#{deadline}, '%Y-%m-%d %H:%i:%s'),
      #{maxParticipant},
      #{place}
    )
  </insert>
  <!-- 모임 삭제-->
  <update id="deleteMeeting">
    update 
      meeting
    set 
      status = 0
    where 
      id = #{id}
  </update>

  <!-- 모임 수정 -->
  <update id="updateMeeting">
    update
      meeting
    set
      title = #{title},
      content = #{content},
      startAt = STR_TO_DATE(#{startAt}, '%Y-%m-%d %H:%i:%s'),
      endAt = STR_TO_DATE(#{endAt}, '%Y-%m-%d %H:%i:%s'),
      deadline = STR_TO_DATE(#{deadline}, '%Y-%m-%d %H:%i:%s'),
      maxParticipant = #{maxParticipant},
      place = #{place}
    where
      id = #{id}
  </update>

  <!-- 모임 참가 -->
  <insert id="createMeetingParticipation">
    insert into participatesMeeting(
      meetingId,
      userId
    )
    values(
      ${id},
      #{userId}
    )
  </insert>

  <!-- 모임 참가 취소-->
  <update id="deleteMeetingParticipation">
    update 
      participatesMeeting
    set
      status = 0
    where 
      meetingId = #{id} and userId = #{userId}
  </update>

  <!-- 모임 출석 체크-->
  <update id="updateMeetingAttendance">
    update 
      participatesMeeting
    set
      attendance = 0
    where 
      meetingId = #{id} and userId = #{userId}
  </update>

  <!-- 모임 참가 신청 인원 -->
  <select id="getCntMeetingParticipant">
    select
      count(*) as CntMeetingParticipant
    FROM
      participatesMeeting
    where
      meetingId = #{meetingId} and status = 1
    limit 0, 1000;
  </select>

  <!-- 리뷰를 달기 위한 조건으로 -->
  <select id="getAttendance">
    select
      attendance
    FROM
      participatesMeeting
    where
      meetingId = #{meetingId} and userId = #{userId} and status = 1
    limit 0, 1000;
  </select>
</mapper>