<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="meetingMapper">  
  <!-- 특정 모임 데이터 조회 -->
  <select id="getMeeting" resultType="meetingDto">
    SELECT
      *
    FROM
      meeting
    WHERE
      id = #{id}
  </select>

  <!-- 특정 호스트의 등록 모임 조회 -->
  <select id="listHostMeetings">
    SELECT
      *
    FROM
      meeting
    WHERE
      hostId = #{hostId}
    LIMIT ${offset}, ${pageSize}
  </select>

  <!-- 전체 모임 조회 -->
  <select id="listMeetings" parameterType="int">
    select
      *
    FROM
      meeting  
    LIMIT ${offset}, ${pageSize}
  </select>

  <!-- 모임 등록 -->
  <insert id="createMeeting">
    insert into meeting(
      title,
      content,
      startAt,
      endAt,
      deadline,
      maxParticipant,
      place
    )
    values(
      #{title},
      #{content},
      #{startAt},
      #{endAt},
      #{deadline},
      #{maxParticipant},
      #{place}
    )
  </insert>
  <!-- 모임 삭제-->
  <update id="deleteMeeting">
    update 
      meeting
    set 
      status = 0
    where 
      id = #{id}
  </update>

  <!-- 모임 수정 -->
  <update id="updateMeeting">
    update
      meeting
    set
      title = #{title},
      content = #{content},
      startAt = #{startAt},
      endAt = #{endAt},
      deadline = #{deadline},
      maxParticipant = #{maxParticipant},
      place = #{place}
    where
      id = #{id}
  </update>

  <!-- 모임 참가 -->
  <insert id="createMeetingParticipation">
    insert into participatesMeeting(
      meetingId,
      userId
    )
    values(
      ${id},
      #{userId}
    )
  </insert>

  <!-- 모임 참가 취소-->
  <update id="deleteMeetingParticipation">
    update 
      meeting
    set
      status = 0
    where 
      id = #{id}
  </update>
</mapper>